.item-details-container {
    padding-bottom: 5rem;
}

.item-details-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    gap: 5px;

    .title-wrapper {
        flex-basis: 85%;
        display: flex;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
    }

    .remove-btn {
        background: grey;
        height: 100%;
        flex-basis: 15%;
        display: flex;
        border-radius: 5px;
    }
}

.item-details-middle {
    .quantity-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .input-container {
        display: flex;
        align-items: center;
        gap: 10px;
    
        input {
            width: 30px;
            height: 30px;
            text-align: center;
        }
    }
    
    .slider-container {
        margin-top: 10px;
    }
    
}




