

.item-details-container {
    padding: 1rem 0;
}

.item-details-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    gap: 5px;

    .title-wrapper {
        flex-basis: 85%;
        display: flex;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        color: white;
        gap: 3px;

        .icon-container {
            display: flex;
            width: 20px;
            height: 20px;
        }
    }

   

    .remove-btn {
        background: #F4F4F4;
        height: 100%;
        flex-basis: 15%;
        display: flex;
        border-radius: 5px;
        justify-content: center;
    }
}

.item-details-middle {
    .quantity-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .input-container {
        display: flex;
        align-items: center;
        gap: 10px;
    
        input {
            width: 30px;
            height: 30px;
            text-align: center;
        }
    }
    
    .slider-container {
        margin-top: 10px;
    }
    
}

.item-details-bottom {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 3px;

    .price-value {
        font-weight: 900;
        font-size: 20px;
    }
}





