.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
  max-width: 50rem;
}

.items-list-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
  margin-top: 5rem;
  padding-bottom: 5rem;

  @media (max-width: 760px) {
    grid-template-columns: auto;
  }
}