.SliderRoot {
    position: relative;
    display: flex;
    align-items: center;
  }
  .SliderRoot[data-orientation='horizontal'] { 
    width: 100%;
    height: 5px;
    background-color: #E4E9EC;
  }
  
  .SliderTrack {
    position: relative;
    flex-grow: 1;
    background-color: E4E9EC;
  }
  .SliderTrack[data-orientation='horizontal'] {
    width: 3px;
  }
  
  .SliderRange {
    position: absolute;
    background-color: black;
  }
  .SliderRange[data-orientation='horizontal'] {
    width: 100%;
  }
  
  .SliderThumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--main-color);
  }